body {
    background-color: aqua;
    height: 100%;
}
section{
    background-color: aquamarine;
}
h1{
    background-color: rgb(255, 176, 176);
}
h2{
    background-color: antiquewhite;
}
p{
    background-color: rgb(127, 127, 236);
}
#hola{
    background-color: blueviolet;
}